.anchoMinimo{
    min-width: 200px;;
}
.tamanioNombre{
    font-size: 16px;
}
.tipoLetra{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
.colorFondo{
    background-color:#AEE6E3 ;
}
.negrita{
    font-weight: bold;
}
.FondoFooter{
    background-color: #BBE0F2;
}